<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Desafio Front-end</a>
            <button class="navbar-toggler collapsed" type="button" (click)="openMenu(event)" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="w-1oo">
          <div class="col-12 col-md-3 col-xl-2 bd-sidebar-mob d-none" #menuMob>
              <nav class="bd-links">
                <ul class="list-group">
                    <li class="list-group-item" routerLinkActive="active"><a href="#" [ngClass]="{'text-white': currentUrl == '/listar'}" routerLink="/listar">Listar</a></li>
                    <li class="list-group-item" routerLinkActive="active"><a href="#" [ngClass]="{'text-white': currentUrl == '/adicionar'}" routerLink="/adicionar">Adicionar</a></li>
                </ul>
              </nav>
          </div>
        </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 col-xl-2 bd-sidebar">
      <nav class="bd-links">
        <ul class="list-group">
            <li class="list-group-item" routerLinkActive="active"><a href="#" [ngClass]="{'text-white': currentUrl == '/listar'}" routerLink="/listar">Listar</a></li>
            <li class="list-group-item" routerLinkActive="active"><a href="#" [ngClass]="{'text-white': currentUrl == '/adicionar'}" routerLink="/adicionar">Adicionar</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-12 col-lg-9 col-xl-10 bd-content">
      <div *ngIf="currentUrl == '/'">
        <h2>Bem-vindo</h2>
        <span>Para iniciar, selecione alguma das opções no menu</span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
